{% load static %}

<!DOCTYPE html>
<html lang="en">


<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
	<title>Profile - {{user_profile.user.username}}</title>
    <link rel="stylesheet" href="{% static 'css/main.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/color.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/uikit.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/tailwind.css' %}">

</head>
<body>
    <div class="theme-layout"></div>
	<section>
		<div class="feature-photo">
			<figure>
                <img src="{% static 'images/resources/cover.jpg' %}" alt="">
            </figure>
			<form action="/follow" method="POST">
			{% csrf_token %}
				<div class="add-btn">
					<span style="color: black; font-size: 21px; margin-right: 80px;">
                        <b><u><a href="/">Home</a></u></b>
                    </span>
					<span style="color: black; font-size: 21px; margin-right: 380px;">
                        <b><u><a href="/profile/{{user}}">My profile</a></u></b>
                    </span>

					{% if user_number_of_posts == 0 %}
					<span style="color: black; font-size: 21px;">
                        <b>No Posts</b>
                    </span>
					{% elif user_number_of_posts == 1 %}
					<span style="color: black; font-size: 21px;">
                        <b>{{user_number_of_posts}} Post</b>
                    </span>
					{% else %}
					<span style="color: black; font-size: 21px;">
                        <b>{{user_number_of_posts}} Posts</b>
                    </span>
					{% endif %}

					{% if user_number_of_followers == 1 %}
					<span style="color: black; font-size: 21px;">
                        <b>{{user_number_of_followers}} follower</b>
                    </span>
					{% else %}
					<span style="color: black; font-size: 21px;">
                        <b>{{user_number_of_followers}} followers</b>
                    </span>
					{% endif %}

					<span style="color: black; font-size: 21px;">
                        <b>{{user_number_of_following}} following</b>
                    </span>

					<input type="hidden" value="{{user.username}}" name="follower" />
					<input type="hidden" value="{{user_object.username}}" name="user" />
					<a href="/settings" data-ripple="" style="background-color: blue !important; border: blue; font-weight: bold;">Account Settings</a>
				</div>
			</form>

			<div class="container-fluid">
				<div class="row merged">
					<div class="col-lg-2 col-sm-3">
						<div class="user-avatar">
							<figure>
								<img src="{{user_profile.profileimg.url}}" style="height: 250px; width: 100%;" alt="">	
							</figure>
						</div>
					</div>
					<div class="col-lg-10 col-sm-9">
						<div class="timeline-info">
							<ul>
								<li class="admin-name">
									<h5 style="color: black;white-space: nowrap; width: 110px; font-size: 27px;"><b>{{user_profile.user.username}}</b></h5>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section>
		<div class="bio">
			<div class="location">
				<div class="phone_number">
					{{user_profile.bio}}<br>
					I am from {{user_profile.location}}.<br>
					<b> If you want to hangout call my owner: {{user_profile.phone_number}}</b>
				</div>
			</div>	
		</div>
	</section>
		
    <section>
		<div class="gap gray-bg">         
            <div class="container m-auto">
                <div class="lg:flex justify-center lg:space-x-10 lg:space-y-0 space-y-5">
                    <div class="space-y-5 flex-shrink-0">

                        {% for post in user_posts reversed %}
                        <div class="bg-white shadow rounded-md -mx-2 lg:mx-0" style="max-width: 600px;">
                            <!-- post header-->
                            <div class="flex justify-between items-center px-4 py-3">
                                <div class="flex flex-1 items-center space-x-4" style="position: relative;">
                                    <span class="block font-semibold ">
                                        <a href="/profile/{{post.user}}">{{post.user}}</a>
                                    </span>
                                    <form action="delete_post" method="POST">
                                    {% csrf_token %}
                                        <input name="post_id" value="{{post.id}}" type="hidden"></input>
                                        <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-3 rounded-full" 
                                                    type="submit"
                                                    style="font-size:13px; display: inline;  position: absolute; top:0; right: 0">
                                                Delete Post
                                        </button>
                                    </form>
                                </div>
                            </div>
                
                            <div uk-lightbox>
                                <a href="{{post.image.url}}">  
                                    <img class="center-img" style="margin:auto;" src="{{post.image.url}}" alt="">
                                </a>
                            </div>
                                    
                            <div class="py-3 px-4 space-y-3"> 
                                <div class="flex space-x-4 lg:font-bold">
                                    <a href="/like_post?post_id={{post.id}}" class="flex items-center space-x-2">
                                        <div class="p-2 rounded-full text-black">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" width="25" height="25" class="">
                                                <path d="M2 10.5a1.5 1.5 0 113 0v6a1.5 1.5 0 01-3 0v-6zM6 10.333v5.43a2 2 0 001.106 1.79l.05.025A4 4 0 008.943 18h5.416a2 2 0 001.962-1.608l1.2-6A2 2 0 0015.56 8H12V4a2 2 0 00-2-2 1 1 0 00-1 1v.667a4 4 0 01-.8 2.4L6.8 7.933a4 4 0 00-.8 2.4z" />
                                            </svg>
                                            {% if post.number_of_likes == 0 %}
                                            <p>No likes</p>
                                            {% elif post.number_of_likes == 1 %}
                                            <p>Liked by {{post.number_of_likes}} pet</p>
                                            {% else %}
                                            <p>Liked by {{post.number_of_likes}} pets</p>
                                            {% endif %}
                                        </div>    
                                    </a>
                                </div>
                                <p>
                                    <a href="/profile/{{post.user}}"><strong>{{post.user}}</strong></a> {{post.caption}}
                                </p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>			
		</div>	
    </section>

    <!-- Scripts -->
	<script data-cfasync="false" src="{% static '../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js' %}"></script><script src="{% static 'js/main.min.js' %}"></script>
	<script src="{% static 'js/script.js' %}"></script>
</body>	


</html>